@import "../../common/colors.scss";

.movie-list, .show-list {
  margin: 1.5rem 0;

  h2 {
    color: $font-secondary;
    margin-bottom: 1.2rem;
    font-weight: 400;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}