@import "../../common/colors.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 2.5rem;
  background-color: $secondary-color;
}

.logo {
  color: $font-primary;
  font-size: 1.5rem;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 2.5rem;
  height: 2.5rem;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    justify-content: center;
    width: 70%;

    button {
      padding: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      height: 2.5rem;
    }
  }

  input {
    font-size: 1.1rem;
    width: 100%;
    padding: 0.4rem 0.4rem 0.4rem 0.7rem;
    height: 2.5rem;
    outline: none;
  }
}
